.basic {
    overflow: auto;

    input[type="number"] {
        // disable right padding in order to place the up down buttons properly
        padding-right: 0;

        // re-enable the up/down buttons on number inputs
        -moz-appearance: auto;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: auto;
            appearance: auto;
        }
    }

    .editor {
        min-height: 10em;
    }

    .items {
        display: flex;
        flex-flow: column wrap;
        gap: 10px;

        .item {
            display: grid;
            gap: 10px;
            border-radius: 4px;
            padding: 10px;
            background: var(--color-cool-4);
            justify-content: space-between;
            grid-template-columns: auto 1fr auto;

            .type {
                text-align: right;
                color: var(--color-text-emphatic);
            }

            [data-action]:hover > i.fas{
                color: var(--color-text-secondary);
            }
        }
    }
}