@use '../../util'

form.heart.ancestry
    h4
        font-weight: bold
        border: 0
        margin: 0.5em 0 0 0
        flex: auto 0 0

        .right
            float: right
            font-family: Alegreya
            font-size: 0.8em

    .ancestry-questions
        list-style: none
        margin: 0
        padding: 0

        li
            margin-bottom: 0.5em

        .flexrow
            align-content: center

        .action
            flex: auto 0 0
            padding: 0.2em

        .question
            font-weight: bold
            font-style: italic

            .editor-content
                min-height: 7em !important
