<div class="fields">
  {{> "systems/heart/templates/parts/field-string.hbs" field=fields.difficulty editable=editable}}
  {{> "systems/heart/templates/parts/field-number.hbs" field=fields.resistance editable=editable}}
  {{> "systems/heart/templates/parts/field-number.hbs" field=fields.protection editable=editable}}
  {{> "systems/heart/templates/parts/field-string-array.hbs" field=fields.domains editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.names editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.descriptors editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.motivation editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.special editable=editable}}
</div>