<div class="attribute-list">
    <h2>{{localize "HEART.Skill.label-plural"}}</h2>
    <div class="skills-list">
        {{#each document.system.skills as |skill name|}}
            {{#if (gt skill.value 0)}}
            <div class="skill">
            {{localize (concat "HEART.Skill.types." name)}}
            {{#if (gt skill.value 1)}}
                <span>({{skill.knack}})</span>
            {{/if}}
            <a data-action="spawn-heart-roll-helper" data-options="skill={{name}}">
                <i class="fas fa-dice-d10"></i>
                {{#if (gt domain.value 1)}}
                <i class="fas fa-dice-d10"></i>
                {{/if}}
            </a>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>