<div class="fields">
  {{> "systems/heart/templates/parts/field-string-array.hbs" field=fields.tiers editable=editable}}
  {{> "systems/heart/templates/parts/field-string-array.hbs" field=fields.domains editable=editable}}
  {{> "systems/heart/templates/parts/field-number.hbs" field=fields.stress editable=editable}}
  {{> "systems/heart/templates/parts/field-number.hbs" field=fields.resistance editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.route editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.description editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.events editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.connection editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.notes editable=editable}}
</div>