<div class="fields">
  {{> "systems/heart/templates/parts/field-string-array.hbs" field=fields.domains editable=editable}}
  {{> "systems/heart/templates/parts/field-string.hbs" field=fields.tier editable=editable}}
  {{> "systems/heart/templates/parts/field-number.hbs" field=fields.resistance editable=editable}}
  {{> "systems/heart/templates/parts/field-string.hbs" field=fields.base_stress editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.description editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.special_rules editable=editable}}
  {{> "systems/heart/templates/parts/field-editor.hbs" field=fields.potential_plots editable=editable}}
</div>