<div>
    <heart-label class="major">
        {{localize "heart.item.type.tag"}}
    </heart-label>
    {{editor document.system.description target="system.description" button=true editable=editable
    owner=owner}}
</div>