<div class="item preview equipment summary" data-document-uuid="{{document.uuid}}">
    <span class="name">{{document.name}}</span>
    <heart-label class="major">
        {{localize "heart.item.type.fallout"}}
    </heart-label>
    <heart-label class="minor">
        {{localize (concat "heart.fallout.type." document.system.type)}}
    </heart-label>
</div>