<div>
    <img class="profile-img" src="{{document.img}}" data-edit="img" title="{{document.name}}" height="100" width="100"/>
    <input name="name" type="text" value="{{document.name}}" placeholder="Name"/>
</div>