<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{> "systems/heart/templates/actor/parts/header.hbs" actor=actor}}

  {{> "systems/heart/templates/actor/parts/toolbar.hbs" viewMode=viewMode}}

  {{> "systems/heart/templates/actor/parts/delve-fields.hbs" viewMode=viewMode}}

  {{> "systems/heart/templates/parts/items.hbs" items=items editable=editable}}
</form>
