@use '../../util'

// Define common variables
$input-bg: #fff
$input-padding: 0.25rem 0.5rem
$label-color: rgb(148, 4, 4)
$header-label-color: white
$label-font: 'Mosherif'

%header-container-style
  border: 2px solid white
  border-radius: 8px
  background-color: transparent
  padding: 10px
  height: 90px
  max-height: 90px

// Create a reusable placeholder for inputs
%header-input-style
  background-color: rgba(0,0,0,0.25)
  border: 1px solid white
  border-radius: 5px
  color: white
  padding-left: 10px
  padding-right: 10px
  height: 30px
  min-width: 150px
  width: 100%
  max-height: 30px
  font-family: 'Alegrey'
  font-size: 16px
  box-sizing: border-box
  &::placeholder
    color: white

// Create a reusable placeholder for labels
%header-label-style
  font-family: $label-font
  font-size: 24px
  color: $header-label-color
  align-self: center


%item-input
  > .flexrow
    > :last-child
      flex: 0 0 auto

@mixin active-tab($text-color, $bg-color, $radius: 5px)
  color: $text-color
  background-color: $bg-color
  text-shadow: 0 0 transparent !important
  padding-left: 25px
  padding-right: 25px
  mask: radial-gradient(8px at 20px 20px, transparent 98%, black) -20px -20px

// Reset Window
[id^="CharacterSheet-Actor-"] > .window-app .window-content
  padding: 0

// Character header container
.character-header
  z-index: 1
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 30px
  background-color: transparent
  background-image: url('../../../static/assets/ui/header_background.webp')
  -webkit-mask-image: url('../../../static/assets/ui/header_nav.svg')
  mask-image: url('../../../static/assets/ui/header_nav.svg')
  -webkit-mask-size: auto 150px
  mask-size: auto 150px
  -webkit-mask-repeat: repeat-x
  mask-repeat: repeat-x
  -webkit-mask-position: -0.5px top
  mask-position: -0.5px top
  margin-bottom: 1rem
  min-height: 150px
  max-height: 150px

// Each column
.header-col
  flex: 1
  &:not(:last-child)
    margin-right: 2rem

// Portrait container
.portrait
  min-width: 90px
  max-width: 90px
  img
    background-color: black
    min-width: 90px
    min-height: 90px
    max-width: 90px
    max-height: 90px
    border-radius: 50%
    border: 2px solid white

// Identity container
.identity-container
  @extend %header-container-style
  display: grid
  grid-template-columns: auto 1fr 1fr
  gap: 0.5rem 1rem
  width: 400px
  max-width: 400px

  // Row 1: Name label, Name input, Pronouns input
  .name-label
    grid-column: 1
    grid-row: 1
    @extend %header-label-style
  .name-input
    grid-column: 2
    grid-row: 1
    @extend %header-input-style
  .pronouns-input
    grid-column: 3
    grid-row: 1
    @extend %header-input-style
    min-width: 70px

  // Row 2: Ancestry label, Ancestry input (spans two columns)
  .ancestry-label
    grid-column: 1
    grid-row: 2
    @extend %header-label-style
  .ancestry-input
    grid-column: 2 / span 2
    grid-row: 2
    @extend %header-input-style

// Class & Calling container
.class-calling-container
  @extend %header-container-style
  display: grid
  grid-template-columns: auto 1fr
  gap: 0.5rem 1rem
  width: 300px
  max-width: 300px
  @extend %item-input

  // Row 1: Class label & content
  .class-label
    grid-column: 1
    grid-row: 1
    @extend %header-label-style

  .class-content
    grid-column: 2
    grid-row: 1
    @extend %header-input-style
    display: flex
    align-items: center
    gap: 0.5rem

  // Row 2: Calling label & content
  .calling-label
    grid-column: 1
    grid-row: 2
    @extend %header-label-style

  .calling-content
    grid-column: 2
    grid-row: 2
    @extend %header-input-style
    display: flex
    align-items: center
    gap: 0.5rem

// Tab Navigation
.character-nav-tabs
  z-index: 0
  margin-top: -60px
  padding-left: 30px
  padding-right: 30px
  display: flex
  justify-content: flex-start
  gap: 3rem
  background-color: rgb(147, 0, 0)
  -webkit-mask-image: url('../../../static/assets/ui/header_nav.svg')
  mask-image: url('../../../static/assets/ui/header_nav.svg')
  -webkit-mask-size: auto 90px
  mask-size: auto 90px
  -webkit-mask-repeat: repeat-x
  mask-repeat: repeat-x
  -webkit-mask-position: -0.5px top
  mask-position: -0.5px top
  margin-bottom: 1rem
  min-height: 90px
  max-height: 90px

  a
    margin-top: 15px
    padding: 5px 10px
    font-family: $label-font
    font-size: 26px
    color: white

  a:active, a.active
    @include active-tab(rgb(147, 0, 0), white)
    