<div class="item preview flex summary draggable calling" data-document-uuid="{{document.uuid}}">
    <span class="name grow">{{document.name}}</span>

    <heart-label class="major">
        {{localize "heart.item.type.calling"}}
    </heart-label>
    {{#if editMode}}
    {{> "systems/heart/templates/common/remove.hbs"}}
    {{/if}}
</div>