{{#> "systems/heart/templates/item/parts/base-item.hbs" item=item}}
<div class="badges">
    <span class="badge">{{item.system.type}}</span>
</div>
<span class="title">{{item.name}}</span>
{{/ "systems/heart/templates/item/parts/base-item.hbs"}}