@use '../utils/theme';

.window-app {
  font-family: theme.$paragraph-font-family;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.window-app.heart {
  .window-content {
    background: theme.$background-color;
  }
}