<div class="description">
    <div class="label">{{localize label}}</div>
    <prose-mirror name="{{fieldPath}}" value="{{enrichedNotes}}" toggled="true">{{{enrichedDescription}}}</prose-mirror>
</div>