<div class="questions">
    {{#each questions }}
    <prose-mirror name=(concat "system.questions." @index ".question") value="{{question}}" toggled="true">{{{question}}}</prose-mirror>
    {{#if ../show_answers}}
    <prose-mirror name=(concat "system.questions." @index ".answer") value="{{answer}}" toggled="true">{{{answer}}}</prose-mirror>
    {{/if}}
    {{/each}}
</div>