@use '../../util'
    
.heart.sheet.actor

    h2
        @include util.text-display
        color: util.$red-bright
        border: 0
        margin: 0
        padding: 0
        flex-grow: 0

        &> div
            font-size: util.$fs-body
            color: util.$text

    h3
        @include util.text-section
        color: util.$red-bright
        border: 0
        margin: 0
        padding: 0
        flex-grow: 0

    .editor-content 
        @include util.notepad

    &.base
        img.profile
            flex-grow: 1
            background: util.$sunken
            cursor: pointer
            max-height: 6em

        .text
            flex-grow: 3
            display: flex
            flex-flow: column

        input[name=name]
            grid-area: 1 / 2 / 2 / 3
            flex-grow: 0
            @include util.text-display
            border: 0
            align-self: bottom
            text-align: center
            background: none
            color: util.$red-bright